<div class="row">
    <div class="text-center">
    <h1>Update Sticky</h1>
        <%= form_for @sticky do |f| %>
            <fieldset>
            <h3><%= f.label :title, class: "label" %></h3>
            <%= f.text_field :title %>
            <h3><%= f.label :content, class: "label" %></h3>
            <%= f.text_area :content, rows: 7 %>
            <p class="text-info">NOTE: you may use <kbd>`</kbd> (the grave accent character) to denote blocks of code.</p>
            <%= f.submit 'Update Sticky', class: "button radius" %>
            </fieldset>
        <% end %>
    </div>
</div>