<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Mission Control" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:700' rel='stylesheet' type='text/css'>
</head>
  <body>
    <%= render partial: 'header'%>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <%= audio_tag "notification-short.mp3" %>
    <footer class="text-center grey"><h1>Brought to you by: </h1>
    <p class="avatars">
      <a href="https://github.com/beccs1990"><img src="https://avatars1.githubusercontent.com/u/7864697?v=2&s=400"></a>
      <a href="https://github.com/jaycdave88"><img src="https://avatars3.githubusercontent.com/u/7599081?v=2&s=400"></a>
      <a href="https://github.com/gunga"><img src="https://avatars3.githubusercontent.com/u/7865250?v=2&s=400"></a>
      <a href="https://github.com/michaeltrestman"><img src="https://avatars2.githubusercontent.com/u/6822430?v=2&s=400"></a>

    </p>
    </footer>
  </body>
</html>

